<div>
    <h2>Liste complète des jeu de mots :</h2>
    <label>Filtre: </label><input title="saisissez ici des mots clés séparés par des espaces" size="50" [(ngModel)]="filterInput">
</div>

<br>

<div>
    <table>
        <tr style="padding:0px;">
            <td>
                <p class="underlined" style="text-align:left;">Catégorie</p>
            </td>
            <td>
                <p class="underlined">Jeu de mot</p>
            </td>
            <td>
                <p class="underlined">Auteur</p>
            </td>
            <td>
                <p class="underlined">Date</p>
            </td>
        </tr>
        <tr *ngFor="let joke of jokes | jokeFilter: filterInput">
            <td>
                <p style="text-align:left;">{{ joke.category }}</p>
            </td>
            <td>
                <p class="justified">{{ joke.text }}</p>
            </td>
            <td>
                <p>{{ joke.author }}</p>
            </td>
            <td>
                <p>{{ joke.date }}</p>
            </td>
        </tr>
    </table>
</div>