<div>
    <h2>Liste complète des jeu de mots :</h2>
    <div class="filter">
        <label>Filtre: </label>
        <input title="saisissez ici des mots clés séparés par des espaces" size="50" [(ngModel)]="filterInput">
    </div>
</div>

<div>
    <table>
        <tr style="padding:0px;">
            <th>
                <p>Catégorie</p>
            </th>
            <th>
                <p>Jeu de mot</p>
            </th>
            <th>
                <p>Auteur</p>
            </th>
            <th>
                <p>Date</p>
            </th>
            <th *ngIf="canShowActions()">
                <p >Actions</p>
            </th>
        </tr>
        <tr *ngFor="let joke of jokes | jokeFilter: filterInput" [class]="{hidden: !joke.visible }">
            <td>
                <p style="text-align:left;">{{ joke.category }}</p>
            </td>
            <td>
                <p class="justified">{{ joke.text }}</p>
            </td>
            <td>
                <p>{{ joke.author }}</p>
            </td>
            <td>
                <p>{{ joke.date }}</p>
            </td>

            <td *ngIf="canShowActions()">
                <div class="actions">
                    <button (click)="toggleVisibility(joke)">{{ joke.visible ? 'masquer' : 'publier'}}</button>
                    <button (click)="edit(joke)">éditer</button>
                    <button (click)="delete(joke)">supprimer</button>                    
                </div>
            </td>
        </tr>
    </table>
</div>

<app-pagination [current]="pageId" [count]="10" (pageChange)="setPage($event)"></app-pagination>