<p>
    Sauvegarde de la base de données sous forme de fichier <i>*.json</i>. Cliquez sur le bouton ci-dessous:
</p>

<div class="flex-row">
    <button *ngIf="status() === 'idle'" (click)="handleSubmit()" >Sauvegarder</button>
</div>

<ng-container *ngSwitch="status()">
    <!-- Global error message (with a joke inside) -->
    <div class="flex-row" *ngSwitchCase="'ko'">
        <p class="flex-row invalid">Oh... Un problème a eu lieu pendant le transfert.</p>
    </div>

    <!-- Global confirmation message (with a joke inside) -->
    <div class="flex-row" *ngSwitchCase="'ok'">
        <p class="valid">La base de données a été sauvegardée, téléchargez le fichier
            <a class="btn btn-clear" [href]="downloadJsonHref" download="backup.json">backup.json</a>
        </p>
    </div>
</ng-container>
