<div id="header">
    <div id="jokeBrowserDiv">
        <div class="center">

            <div id="topbar">                
                <p id="category">{{ currentJoke.category }}</p>
                
                <div id="navbar">
                    <img    src="assets/arrow-left.svg" 
                            [class]="hasPrevious() ? 'arrow enable' : 'arrow disable'"
                            (click)="onPreviousButtonClicked()"
                            [title]="hasPrevious() ? 'précédent' : 'plus rien par ici...'" />
                            
                    <div style="width: 10px;"></div>

                    <img    src="assets/arrow-right.svg" 
                            [class]="hasNext() ? 'arrow enable' : 'arrow disable'"
                            (click)="onNextButtonClicked()" 
                            [title]="hasNext() ? 'suivant' : 'plus rien par là...'" />

                </div>


            </div>            

            <div id="joke">
                <p>{{ currentJoke.text }}</p>
                <p id="note"><i>par {{ currentJoke.author }}, le {{ currentJoke.date }}</i></p>
            </div>
        </div>
    </div>
</div>