
<div id="jokeIntroductionDiv">
    <p>Aujourd'hui, classé en catégorie <b>{{ currentJoke.category }}</b>, nous vous présentons en exclusivité :</p>
</div>

<div id="jokeBrowserDiv">

    <div class="border">
        <a [class]="hasPrevious() ? 'enable' : 'disable'" (click)="onPreviousButtonClicked()" [title]="hasPrevious() ? 'précédent' : 'plus rien par ici...'" ><</a>
    </div>

    <div class="center">
        <div class="joke" style="flex: auto">
            <p>{{ currentJoke.joke }}</p>
            <p class="note"><i>par {{ currentJoke.author }}, le {{ currentJoke.date }}</i></p>
        </div>        
    </div>

    <div class="border">
        <a [class]="hasNext() ? 'enable' : 'disable'"(click)="onNextButtonClicked()" [title]="hasNext() ? 'suivant' : 'plus rien par là...'">></a>
    </div>

</div>