/* CSS du site www.relativementutile.fr/jeudemots */

/* Common */

* {
	color: rgb(91, 91, 91);
	text-shadow: 1px 1px rgba(255, 255, 255, 0.9);
	font-family: 'Lucida Console', Monaco, monospace;
	--input-highlight-color: rgba(255, 255, 255, 0.80);
	--text-highlight-color: #1aff1a;
}

p {
	font-size: 18px;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}

body {
	background-color: rgba(0, 0, 0, 0.1);
}

button {
	border-radius: 5px;
	border: 1px solid #aaa;
	margin: 2px;
	background: linear-gradient(#fff, #ddd);
	text-shadow: 1px 1px rgba(255, 255, 255, 0.9);

  &:active {
    border: 1px solid orange;
  }

  &:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
  }
}

table {
	width: 100%;
	border: dashed 1px rgba(0, 0, 0, 0.2);
}

tr {
	border: 0px;

  &:nth-child(even) {
    background-color: #DDD
  }

  &:nth-child(odd) {
    background-color: #EEE
  }
}

td {
	text-align: center;
	padding: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 0px;
}

/* Classes */

.underlined {
	text-decoration: underline;
}

.indent {
	margin-left: 5%;
	max-width: 95%;
}

/* Texts */

p:hover {
	color: rgb(70, 70, 70);
	transition-duration: 0.2s;
}

p.justified {
	text-align: justify;
	text-justify: inter-word;
}

/* Background color for selections */

::selection {
	background: var(--text-highlight-color);
}

/* Responsive */

@media only screen and (max-width: 1200px) and (min-width: 800px)
{
  * {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 800px)
{
  * {
    font-size: 0.8rem;
  }
}


/*
********************************
      Form validation
********************************
*/
.invalid, .invalid p {
  margin-top: 0.5em;
  font-size: smaller;
  color: #bf1d00;
}

.valid, .valid p {
  margin-top: 0.5em;
  color: #05a300;
}
