<div>
  <h2>Liste complète des jeu de mots:</h2>
  <form class="header" [formGroup]="form">
    <div class="search">
      <div class="filter">
        <label>Recherche:</label>
        <input
          title="saisissez ici des mots clés séparés par des espaces"
          formControlName="filter"
          placeholder="Saisissez qqch ici ..."
          size="50"
        />
      </div>
      <p class="status" [ngClass]="{ 'searching': searching}" >{{status}}</p>
    </div>
    <app-pagination
      [pageIndex]="page.id"
      [count]="pageCount()"
      (pageChange)="handlePageChange($event)"
    ></app-pagination>
  </form>
</div>

<div>
  <table>
    <tr style="padding: 0px">
      <th>
        <p>Catégorie</p>
      </th>
      <th>
        <p>Jeu de mot</p>
      </th>
      <th>
        <p>Auteur</p>
      </th>
      <th>
        <p>Date</p>
      </th>
      <th *ngIf="canShowActions()">
        <p>Actions</p>
      </th>
    </tr>
    <tr *ngFor="let joke of page.jokes" [ngClass]="{ 'masked': !joke.visible }">
      <!-- Reading -->
      <ng-container *ngIf="!isEditing(joke) else editor">
        <td>
          <p style="text-align: left">{{ joke.category }}</p>
        </td>
        <td>
          <p class="justified">{{ joke.text }}</p>
        </td>
        <td>
          <p>{{ joke.author }}</p>
        </td>
        <td>
          <p>{{ joke.date }}</p>
        </td>
      </ng-container>

      <!-- Editing -->
      <ng-template #editor>
        <td>
          <input
            style="text-align: left"
            type="text"
            [(ngModel)]="joke.category"
          />
        </td>
        <td>
          <textarea
            class="justified"
            cols="50"
            rows="5"
            [(ngModel)]="joke.text"
          ></textarea>
        </td>
        <td>
          <input type="text" [(ngModel)]="joke.author" />
        </td>
        <td>
          <input type="date" [(ngModel)]="joke.date" />
        </td>
      </ng-template>

      <td *ngIf="canShowActions()">
        <div class="actions">
          <button (click)="toggleVisibility(joke)">
            {{ joke.visible ? "masquer" : "publier" }}
          </button>
          <button *ngIf="!isEditing(joke)" (click)="edit(joke)">éditer</button>
          <button *ngIf="isEditing(joke)" (click)="save(joke)">
            enregistrer
          </button>
          <button *ngIf="isEditing(joke)" (click)="cancel(joke)">
            annuler
          </button>
          <button (click)="delete(joke)">supprimer</button>
        </div>
      </td>
    </tr>
  </table>
</div>

<app-pagination
  [pageIndex]="page.id"
  [count]="pageCount()"
  (pageChange)="handlePageChange($event)"
></app-pagination>
