
.actions {
    display: flex;
    flex-direction: column;
}

.masked > td > p {
    opacity: 0.66;
}

th {
    text-decoration: underline;
}

.actions > button {
    font-size: 0.75em;
}

.filter {
    margin-bottom: 10px;
}

.status {
  transition-delay: 1s;
  transition-duration: 1s;
  margin-left: 10px;
  opacity: 0.5;

}

.status.searching {
  transition-delay: 0s;
  transition-duration: 0.1s;
  opacity: 1;
}
