<h2>Administration</h2>

<p>
    Restauration de la base de données sous forme de fichier <i>*.json</i>.
</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <!-- File -->
    <div class="flex-row">
        <label class="flex-left">Choix du fichier</label>
        <div class="flex-right">
            <input
            type="file"
            formControlName="file"
            (change)="onFileChange($event)">
            <div *ngIf="displayErrors && controls.file.errors" class="invalid-feedback">
                <p *ngIf="controls.file.errors.required">Fichier requis</p>
            </div>
        </div>
    </div>

    <!-- Agree (database will be erased) -->
    <div class="flex-row">
        <label class="flex-left"></label>
        <div class="flex-right flex-row">
            <input type="checkbox" formControlName="agree" id="agree" />
            <label for="agree" class="form-check-label">J'ai conscience que la table sere entièrement vidée avant d'être remplie par le contenu du fichier.</label>
        </div>

    </div>
    <div class="flex-row invalid-feedback" *ngIf="displayErrors && controls.agree.errors">
        <label class="flex-left"></label>
        <p class="flex-right flex-row">Lisez et cochez.
        </p>
    </div>
    <div>
        <p style="font-size: 0.7em">*: requis.</p>
    </div>

    <!-- Send/Reset buttons -->
    <div class="flex-row">
        <div class="flex-left"></div>
        <div class="flex-right">
            <button type="reset" (click)="onReset()">Recommencer</button>
            <button *ngIf="status !== Status.SUCCESS" >Restaurer la base</button>
        </div>
    </div>

    <!-- Global error message (with a joke inside) -->
    <div class="flex-row" *ngIf="status === Status.ERROR">
        <div class="flex-left"></div>
        <p class="flex-right flex-row invalid-feedback-joke">Oh... Un problème a eu lieu pendant le transfert.</p>
    </div>

    <!-- Global confirmation message (with a joke inside) -->
    <div class="flex-row" *ngIf="status === Status.SUCCESS">
        <div class="flex-left"></div>
        <p class="flex-right flex-row valid-feedback-joke">Expédition réussie! La base de donnée a bien été restaurée.</p>
    </div>

</form>