form {
    display: flexbox;
    flex-direction: column;
}

div.flex-row {
    margin: 5px;
}

input[type="text"],
textarea{
    width: 98%;
}

button {
    width: 68%;
    height: 40px;
    cursor: pointer;
}

button[type="reset"] {
    width: 30%;    
}

.flex-row {
    display: flex;
    align-items: flex-start;
}

.flex-left {
   width: 20%
}

.invalid-feedback p {
    color: #bf1d00;
    font-size: 0.9em;    
    margin-top: 5px;
}

.invalid-feedback-joke {
    color: #bf1d00;  
}

.valid-feedback-joke {
    color: #05a300;  
}

.flex-right {
    width: 80%
 }

 .invalid-input {
    box-shadow: 0px 0px 2px 2px #ff5c3f;
 }