<h2>Présentation</h2>

<p class="indente">Ce site vous présente des jeu de mots créés par Berdal84 et autres. Une page d'accueil idéale qui
    changera votre vie à jamais!</p>
<br />

<h2>"C'est tout ?!"</h2>

<p class="indente">Mais non enfin, soyez rassuré...</p>
<p class="indente">Ici, nous avons le goût du travail bien fait. En effet, nous vous permettons de chercher à l'aide
    de mot clés dans la <a href="" routerLink="/list">liste</a> de toutes les blagues ayant été
    publiées.</p>
<p class="indente">Cela vous permettra à tout moment d'avoir sous la main LE bon jeu de mot.</p>
<p class="indente"><b>L'objectif : Briller en société.</b></p>
<br />

<h2>Les clés du succès</h2>

<p class="indente">Vous hésitez? Vous avez peur de vous lancer? Ne paniquez pas.</p>
<p class="indente">Nous vous livrons également quelques <a href="" routerLink="/advises">astuces</a>
    bien pratiques pour réussir vos jeu de mots. Nos experts
    ont synthétisé les règles essentielles que doit connaître tout bon joueur de mot qui se respecte.</p>