
.actions {
    display: flex;
    flex-direction: column;
}

.masked > td > p {
    opacity: 0.66;
}

th {
    text-decoration: underline;
}

.actions > button {
    font-size: 0.75em;
}

.filter {
    margin-bottom: 10px;
}
