<div class="center">
  <div id="topBar">
    <p id="jokeCategory">{{ currentJoke.category }}</p>

    <div id="navbar">
      <img
        src="assets/arrow-left.svg"
        [ngClass]="{
          'navbar-btn': true,
          'navbar-btn-disable': !hasPrevious()
        }"
        (click)="onPreviousButtonClicked()"
        [title]="hasPrevious() ? 'précédent' : 'plus rien par ici...'"
      />

      <img
        *ngIf="!isPlaying"
        src="assets/play.svg"
        class="navbar-btn"
        (click)="onPlayButtonClicked()"
        title="Démarrer le diaporama"
      />

      <img
        *ngIf="isPlaying"
        src="assets/pause.svg"
        class="navbar-btn"
        (click)="onPauseButtonClicked()"
        title="Mettre le diaporama en pause"
      />

      <img
        src="assets/arrow-right.svg"
        [ngClass]="{
          'navbar-btn': true,
          'navbar-btn-disable': !hasNext()
        }"
        (click)="onNextButtonClicked()"
        [title]="hasNext() ? 'suivant' : 'plus rien par là...'"
      />
    </div>
  </div>

  <div id="joke">
    <p id="jokeText">{{ currentJoke.text }}</p>
    <p id="jokeNote">
      <i>par {{ currentJoke.author }}, le {{ currentJoke.date }}</i>
    </p>
  </div>
</div>
<div *ngIf="isPlaying" class="eggTimer" >
  <div class="background">
    <div class="bar" [ngStyle]="getEggTimerStyle()"></div>
  </div>
</div>
