<ng-container *ngIf="viewModel | async as vm">
  <div class="center" >
    <div id="topBar">
      <p id="jokeCategory">{{ vm.joke.category }}</p>
      <app-navbar class="navbar"
                  [playing]="vm.playing"
                  [enableNext]="vm.hasNext"
                  [enablePrevious]="vm.hasPrevious"
                  (onClicked)="handleNavBarClick($event)"
      ></app-navbar>
    </div>
    <div id="joke">
      <p id="jokeText">{{ vm.joke.text }}</p>
      <p id="jokeNote">
        <i>par {{ vm.joke.author }}, le {{ vm.joke.date }}</i>
      </p>
    </div>
  </div>
  <div *ngIf="vm.playing" class="eggTimer" >
    <div class="background">
      <div class="bar" [ngStyle]="getEggTimerStyle()"></div>
    </div>
  </div>
</ng-container>
