<div class="center-content">
    <div class="frame">

        <h3>Authentification</h3>

        <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-field">
            <label>Nom d'utilisateur</label>
            <input formControlName="username" type="text"/>
            <div class="flex-row invalid" *ngIf="username.touched && username.errors">
              <p>Nom d'utilisateur requis</p>
            </div>
        </div>

        <div class="form-field">
            <label>Mot de passe</label>
            <input formControlName="password" type="password"/>
            <div class="flex-row invalid" *ngIf="password.touched && password.errors">
              <p>Un mot de passe est requis</p>
            </div>
        </div>

        <div class="actions" >
            <button type="reset" (click)="form.reset()">Annuler</button>
            <button type="submit" [disabled]="status() !== 'pending'">OK</button>
        </div>
        <p *ngIf="status() === 'processing'">Connection ...</p>

        <div class="flex-row invalid" *ngIf="form.invalid || status() !== 'success'">
          <p *ngIf="form.invalid">Le formulaire comporte des erreurs</p>
          <p *ngIf="status() === 'error'">username/password invalide(s)</p>
        </div>
      </form>
    </div>
</div>
