<div class="center-content">
    <div class="frame">

        <h1>Login Form</h1>

        <p>Who are you ?</p>
        
        <div class="form-field">
            <label>Login</label>
            <input [(ngModel)]="login" type="text"/>
        </div>

        <div class="form-field">
            <label>Password</label>
            <input [(ngModel)]="password" type="password"/>
        </div>

        <div class="actions">
            <button href (click)="cancel()">Cancel</button>
            <button href (click)="submit()">Submit</button>
        </div>
    </div>
</div>
