
.center-content {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    width: 100%;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

.frame {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.05);
    padding: 20px;
    border-radius: 5px;
}

.form-field {
    margin-top: 5px;
}

label {
    display: flex;
}

input {
    margin: 5px;
    padding: 5px;
    height: 1.5em;
    border: 1px solid grey;
    border-radius: 4px;
}

.actions {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
}

.actions > :first-child {
    flex-grow: 1;
}

button {
    flex-grow: 2;
}