<div class="center" >
  <div id="topBar">
    <p id="jokeCategory">{{ joke().category }}</p>
    <app-navbar class="navbar"
                [playing]="isPlaying()"
                [enableNext]="hasNext()"
                [enablePrevious]="hasPrevious()"
                (onClicked)="handleNavBarClick($event)"
    ></app-navbar>
  </div>
  <div id="joke">
    <p id="jokeText">{{ joke().text }}</p>
    <p id="jokeNote">
      <i>par {{ joke().author }}, le {{ joke().date }}</i>
    </p>
  </div>
</div>
<div *ngIf="isPlaying()" class="eggTimer" >
  <div class="background">
    <div class="bar" [ngStyle]="eggTimerStyle()"></div>
  </div>
</div>
