form {
    display: flexbox;
    flex-direction: column;
}

div.flex-row {
    margin: 5px;
}

input[type="text"],
textarea{
    width: 98%;
}

button {
    width: 68%;
    height: 40px;
    cursor: pointer;
}

button[type="reset"] {
    width: 30%;
}

.flex-row {
    display: flex;
    align-items: flex-start;
}

.flex-left {
   width: 20%
}

.flex-right {
    width: 80%
}

