<h3>Désinstallation de la base de données</h3>

<p>
    Afin de pouvoir réinstaller proprement ce site de zéro, il vous est nécessaire de procéder à une désinstallation.
    Si vous désirez conservez les données, procédez d'abord à une sauvegarde.
</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <!-- Agree -->
    <div class="flex-row">
        <label class="flex-left"></label>
        <div class="flex-right flex-row">
            <input type="checkbox" formControlName="agree" id="agree" />
            <label for="agree" class="form-check-label">J'ai compris que je perdrais toutes les données une fois la désinstallation effectuée.</label>
        </div>

    </div>
    <div class="flex-row invalid" *ngIf="displayErrors && controls.agree.errors">
        <label class="flex-left"></label>
        <p class="flex-right flex-row">Lisez et cochez.
        </p>
    </div>
    <div>
        <p style="font-size: 0.7em">*: requis.</p>
    </div>

    <!-- Actions -->
    <div class="flex-row">
        <div class="flex-left"></div>
        <div class="flex-right">
            <button *ngIf="status === 'inactive'" >Désinstaller</button>
        </div>
    </div>

    <!-- Error -->
    <div class="flex-row" *ngIf="status === 'error'">
        <div class="flex-left"></div>
        <p class="flex-right flex-row invalid">Oh... Un problème a eu lieu pendant la désinstallation.</p>
    </div>

    <!-- Confirmation -->
    <div class="flex-row" *ngIf="status === 'uninstalled'">
        <div class="flex-left"></div>
        <p class="flex-right valid">La désinstallation s'est bien déroulée.</p>
    </div>

</form>

