<div id="header">
    <div id="jokeBrowserDiv">
        <div class="center">

            <div id="topbar">

                <p id="jokeCategory">{{ currentJoke.category }}</p>

                <div id="navbar">

                    <img src="assets/arrow-left.svg"
                        class="navbar-btn {{ !hasPrevious() ?? 'navbar-btn-disable' }}"
                        (click)="onPreviousButtonClicked()"
                        [title]="hasPrevious() ? 'précédent' : 'plus rien par ici...'" />

                    <img *ngIf="!isDiaporamaPlaying" src="assets/play.svg" class="navbar-btn"
                        (click)="onPlayButtonClicked()" title="Démarrer le diaporama" />

                    <img *ngIf="isDiaporamaPlaying" src="assets/pause.svg" class="navbar-btn"
                        (click)="onPauseButtonClicked()" title="Mettre le diaporama en pause" />

                    <img src="assets/arrow-right.svg"
                        class="navbar-btn {{ !hasPrevious() ?? 'navbar-btn-disable' }}"
                        (click)="onNextButtonClicked()" [title]="hasNext() ? 'suivant' : 'plus rien par là...'" />

                </div>
            </div>

            <div id="joke">
                <p id="jokeText">{{ currentJoke.text }}</p>
                <p id="jokeNote"><i>par {{ currentJoke.author }}, le {{ currentJoke.date }}</i></p>
            </div>
        </div>
    </div>

    <p id="diaporamaTimer" *ngIf="isDiaporamaPlaying">{{ getDiaporamaTimerText() }}</p>
</div>
