<div id="header">

    <div id="div_menu">

            <a href="" routerLink="/presentation" title="Accueil">
                <img id="logo" src="assets/logo.png" alt="Logo" title="Accueil" />
            </a>

            <ul>

                <li [class]="getClassForItem('/today')">
                    <a href="" routerLink="/today">AUJOURD'HUI</a>
                </li>

                <li [class]="getClassForItem('/list')">
                    <a href="" routerLink="/list">LISTE</a>
                </li>

                <li [class]="getClassForItem('/advises')">
                    <a href="" routerLink="/advises">CONSEILS</a>
                </li>

                <li [class]="getClassForItem('/contribute')">
                    <a href="" routerLink="/contribute">CONTRIBUER</a>
                </li>

                <li [class]="getClassForItem('/more')">
                    <a href="" routerLink="/more">?</a>
                </li>

            </ul>
    </div>

</div>