.links {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 900px;
}

.link {
    color: #3f3f3f;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    margin: 2px 2px 2px 1rem;
    cursor: pointer;
    background: linear-gradient(#bbb, #888);
    font-weight: bolder;
    font-size: 1rem;
    box-shadow: rgba(50, 0, 50, 0.1) 0px 2px 2px 2px;
    transition-duration: 0.2s;
}

.link:not(:disabled) {
  border-bottom: 6px solid rgb(220, 220, 220);
}

.link:disabled { /* disabled means the one selected */
    background: linear-gradient(#bbb, #888);
    box-shadow: rgba(199, 255, 206, 0.9) 0 0 10px 2px;
    color: rgba(246, 255, 247, 0.9);
    text-shadow: rgba(0,0,0,0.1) 2px 2px;
    text-decoration: none;
    pointer-events: none;
    transition-duration: 0.1s;
    border-bottom: 6px solid #edffeb;
}

.link:hover {
    background: radial-gradient(#dadada 30%, #e7e7e7 70%);
}

#logo {
    padding-top: 20px;
    height: 100px;
    transition-duration: 0.5s;
}

#logo:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 20px white);
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  box-shadow: 0px 10px 20px rgb(200, 200, 200);
  border-bottom: 4px solid rgb(247, 247, 247);
  background: #DDD linear-gradient(#aaaaaa42, #bfbfbf00);
}
