.links {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 900px;
}

.link {
    color: #3f3f3f;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    border: 1px solid #eee;
    margin: 2px 2px 2px 1rem;
    cursor: pointer;
    background: linear-gradient(#bbb, #888);
    text-underline: thick;
    font-weight: bolder;
    font-size: 1rem;
}

.link:disabled {
    background: linear-gradient(#bbb, #888);
    color: white;
    text-shadow: none;
    text-decoration: none;
    pointer-events: none;
}

.link:hover {
    background: #EEE linear-gradient(#fff, #eee);
}

#logo {
    padding-top: 20px;
    height: 80px;
    transition-duration: 0.5s;
}

#logo:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 20px white);
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    box-shadow: 0px 10px 20px rgb(200, 200, 200);
    border-bottom: 1px solid rgb(223, 223, 223);
    background: #DDD linear-gradient(#aaa, #bfbfbf);
}